In [ ]:
import pandas as pd
df = pd.read_csv('Train.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
df.shape

(8523, 12)

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [ ]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [ ]:
df['Item_Fat_Content'].replace({'low fat': 'LF','Low Fat': 'LF','Regular':'Reg','reg':'Reg'}, inplace=True)

In [ ]:
df['Item_Fat_Content'].unique()

array(['LF', 'Reg'], dtype=object)

In [ ]:
df.drop(columns =['Item_Weight','Item_Identifier','Item_Visibility','Outlet_Identifier','Outlet_Establishment_Year'],inplace=True)

In [ ]:
df['Outlet_Size'].fillna('Small',inplace=True)

In [ ]:
df.head()

,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,LF,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,Reg,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228
2,LF,Meat,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700
3,Reg,Fruits and Vegetables,182.0950,Small,Tier 3,Grocery Store,732.3800
4,LF,Household,53.8614,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
df['Item_Fat_Content'].replace({'LF':0,'Reg':1},inplace=True)

In [ ]:
df.head()

,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,1,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228
2,0,Meat,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700
3,1,Fruits and Vegetables,182.0950,Small,Tier 3,Grocery Store,732.3800
4,0,Household,53.8614,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
enc_Outlet_lt = pd.get_dummies(df['Outlet_Location_Type'])
enc_Outlet_lt.drop(columns='Tier 3', inplace=True)
enc_Outlet_lt.head()

   Tier 1  Tier 2
0       1       0
1       0       0
2       1       0
3       0       0
4       0       0

In [ ]:
enc_Outlet_sz = pd.get_dummies(df['Outlet_Size'])
enc_Outlet_sz.drop(columns='Small',inplace=True)
enc_Outlet_sz.head()

   High  Medium
0     0       1
1     0       1
2     0       1
3     0       0
4     1       0

In [ ]:
enc_Outlet_tp = pd.get_dummies(df['Outlet_Type'])
enc_Outlet_tp.drop(columns='Grocery Store',inplace=True)
enc_Outlet_tp.head()

   Supermarket Type1  Supermarket Type2  Supermarket Type3
0                  1                  0                  0
1                  0                  1                  0
2                  1                  0                  0
3                  0                  0                  0
4                  1                  0                  0

In [ ]:
df.drop(columns=['Outlet_Type','Outlet_Size','Outlet_Location_Type'],inplace=True)
df = pd.concat([df,enc_Outlet_lt,enc_Outlet_tp,enc_Outlet_sz],axis=1)
df.head()

,Item_Fat_Content,Item_Type,Item_MRP,Item_Outlet_Sales,Tier 1,Tier 2,Supermarket Type1,Supermarket Type2,Supermarket Type3,High,Medium
0,0,Dairy,249.8092,3735.1380,1,0,1,0,0,0,1
1,1,Soft Drinks,48.2692,443.4228,0,0,0,1,0,0,1
2,0,Meat,141.6180,2097.2700,1,0,1,0,0,0,1
3,1,Fruits and Vegetables,182.0950,732.3800,0,0,0,0,0,0,0
4,0,Household,53.8614,994.7052,0,0,1,0,0,1,0

In [ ]:
df.drop(columns='Item_Type',inplace=True)

In [ ]:
X = df.drop(columns='Item_Outlet_Sales')
y = df['Item_Outlet_Sales']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
clf = RandomForestRegressor()

In [ ]:
clf.fit(X_train,y_train)

RandomForestRegressor()

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test, y_pred)

0.48885897972661696

In [ ]:
import xgboost as xg
xgb_r = xg.XGBRegressor(objective ='reg:linear',n_estimators = 10, seed = 123)

In [ ]:
xgb_r.fit(X_train, y_train)

y_pred = xgb_r.predict(X_test)

[10:18:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
r2_score(y_test, y_pred)

0.23098089714194536